@model BowlingASP.GameService.game

@{
    ViewBag.Title = "Modification d'une partie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var addInput, deleteInput, i;
  
    $(document).ready(function () {
        i = $('form').find('input[type=text]').last().attr('id');
        addInput = function () {
            i++;
            $(".form-group").append('<div class="col-md-12"><label for="Pseudo' + i + '">Joueur ' + i + '</label><input class="text-box single-line form-control" id="Pseudo' + i + '" name="Pseudo' + i + '" type="text" value="" /><button onclick="deleteInput()" class="btn btn-danger pull-right">Supprimer</button><br /></div>');
        };

    });

    var submitForm = function () {
        if (document.getElementsByName("Pseudo" + i)[0].value != "") {
            document.getElementById("form-id").submit();
        } else {
            alert("Renseigne les pseudos des joueurs !");
        }
    };
</script>

<div class="container">
    <h2>Modifier une partie</h2>
    @Html.ActionLink("Retour", "Index", "Game", null, new { @class = "btn btn-default" })

    @using (Html.BeginForm("Edit", "Game", FormMethod.Post, new { id = "form-id" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-12">
            @{
                int i = 0;

                foreach (BowlingASP.GameService.player player in Model.players)
                {
                    <label for="Pseudo@(i)">Joueur @i</label>
                    <input class="text-box single-line form-control" id="@(i)" name="Pseudo@(i)" type="text" value="@Html.DisplayFor(model => player.Pseudo)" />
                    @Html.ActionLink("Supprimer", "Delete", "Player", new { id = Html.DisplayFor(model => player.Id) }, new { @class = "btn btn-danger pull-right" })
                <br />
                    i++;    
                }
           }
            </div>
        </div>

        <input type="button" value="Ajouter un joueur" onclick="addInput()" class="btn btn-default" />
        <input type="button" value="Modifier la partie" onclick="submitForm()" class="btn btn-success pull-right" />
    }
</div>